<div class="content" role="main">

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Angular</a>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/bai2" routerLinkActive="active" ariaCurrentWhenActive="page">bai2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bai3" routerLinkActive="active" ariaCurrentWhenActive="page">bai3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bai4" routerLinkActive="active" ariaCurrentWhenActive="page">bai4</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">


    <!-- CONTENT -->

    <router-outlet></router-outlet>


  </div>


</div>